<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <timestamp key="DATE_FORMAT" datePattern="yyyy-MM-dd" />

  <!-- 스프링 프로파일 별 로그 수준 분리 -->
  <springProfile name="local">
    <include resource="logback/logback-spring-local.xml" />
  </springProfile>

  <springProfile name="dev">
    <include resource="logback/logback-spring-dev.xml" />
  </springProfile>

  <springProfile name="prod">
    <include resource="logback/logback-spring-prod.xml" />
  </springProfile>

</configuration>
